<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vehicleType</key>
	<array>
		<dict>
			<key>itemKey</key>
			<string>11</string>
			<key>itemDescribe</key>
			<string>六座以下客车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>12</string>
			<key>itemDescribe</key>
			<string>六座至十座客车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>13</string>
			<key>itemDescribe</key>
			<string>十座至二十座以下客车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>14</string>
			<key>itemDescribe</key>
			<string>二十座至三十六座客车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>15</string>
			<key>itemDescribe</key>
			<string>三十六座以上客车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>21</string>
			<key>itemDescribe</key>
			<string>二吨以下货车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>22</string>
			<key>itemDescribe</key>
			<string>二吨至五吨货车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>23</string>
			<key>itemDescribe</key>
			<string>五吨至十吨货车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>24</string>
			<key>itemDescribe</key>
			<string>十吨以上货车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>25</string>
			<key>itemDescribe</key>
			<string>二吨以下挂车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>26</string>
			<key>itemDescribe</key>
			<string>二吨至五吨挂车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>27</string>
			<key>itemDescribe</key>
			<string>五吨至十吨挂车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>28</string>
			<key>itemDescribe</key>
			<string>十吨以上挂车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>30</string>
			<key>itemDescribe</key>
			<string>特种车一：油罐车、气罐车、液罐车、冷藏车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>31</string>
			<key>itemDescribe</key>
			<string>装置有油罐、汽罐、液罐的挂车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>40</string>
			<key>itemDescribe</key>
			<string>特种车二：用于牵引、清障、清扫、清洁、起重、装卸、升降、搅拌、挖掘、推土等的各种专用机动车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>41</string>
			<key>itemDescribe</key>
			<string>装置有油罐、汽罐、液罐以外罐体的挂车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>42</string>
			<key>itemDescribe</key>
			<string>装置有冷藏、保温等设备的挂车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>50</string>
			<key>itemDescribe</key>
			<string>特种车三：装有固定专用仪器设备从事专业工作的监测、消防、医疗、电视转播等的各种专用机动车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>51</string>
			<key>itemDescribe</key>
			<string>装置有固定专业仪器设备从事专业工作的挂车</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>60</string>
			<key>itemDescribe</key>
			<string>特种车四：集装箱拖头</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>71</string>
			<key>itemDescribe</key>
			<string>摩托车（50cc及以下）</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>72</string>
			<key>itemDescribe</key>
			<string>摩托车（50cc-250cc）</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>73</string>
			<key>itemDescribe</key>
			<string>摩托车（250cc以上及侧三轮）</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>81</string>
			<key>itemDescribe</key>
			<string>拖拉机（14.7kw及以下）</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>82</string>
			<key>itemDescribe</key>
			<string>拖拉机14.7kw以上</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>91</string>
			<key>itemDescribe</key>
			<string>运输型拖拉机14.7KW及以下</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>92</string>
			<key>itemDescribe</key>
			<string>运输型拖拉机14.7KW以上</string>
		</dict>
	</array>
	<key>natureUse</key>
	<array>
		<dict>
			<key>itemKey</key>
			<string>000</string>
			<key>itemDescribe</key>
			<string>不区分营业非营业</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>100</string>
			<key>itemDescribe</key>
			<string>营业</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>101</string>
			<key>itemDescribe</key>
			<string>营业出租租赁</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>102</string>
			<key>itemDescribe</key>
			<string>营业城市公交</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>103</string>
			<key>itemDescribe</key>
			<string>营业公路客运</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>200</string>
			<key>itemDescribe</key>
			<string>非营业</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>210</string>
			<key>itemDescribe</key>
			<string>非营业个人</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>220</string>
			<key>itemDescribe</key>
			<string>非营业企业</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>230</string>
			<key>itemDescribe</key>
			<string>非营业机关</string>
		</dict>
	</array>
	<key>taxFlag</key>
	<array>
		<dict>
			<key>itemKey</key>
			<string>N</string>
			<key>itemDescribe</key>
			<string>纳税</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>W</string>
			<key>itemDescribe</key>
			<string>完税</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>M</string>
			<key>itemDescribe</key>
			<string>免税或不征</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>H</string>
			<key>itemDescribe</key>
			<string>缓税</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>Q</string>
			<key>itemDescribe</key>
			<string>欠税</string>
		</dict>
		<dict>
			<key>itemKey</key>
			<string>B</string>
			<key>itemDescribe</key>
			<string>补税</string>
		</dict>
	</array>
</dict>
</plist>
